body {
  overflow: hidden;
  margin: 0;
  height: 100%;  
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#cont-formulario {
display: flex;
flex-direction: column;
align-items: center;
background-color: #fceed6;
height: 100vh;
background-image: url(img/cielo-libre.jpg);
background-position: center;
background-size: cover;
}

h1, h2 {
font-size: 50px;
color: #fff;
text-shadow: black 1px 0 10px;
}



h2 {
font-size: 50px;
padding-top: 100px;
}

form {
box-shadow: 0px 21px 26px 11px rgba(3, 3, 3, 0.452);
display: flex;
align-items: center;
justify-content: center;
background-color: snow;
width: 25%;
border-radius: 5px;
height: 25%;
}

#formulario {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 30px;
background-color: snow;
}

#formulario input {
box-sizing: border-box;
width: 100%;
padding: 10px;
border: 1px solid black;
text-align: center;
align-self: center;
background-color: #ffff;
border-radius: 5px;
}

#J1:hover {
background-color: #09f;
color: white;
}

#J2:hover {
background-color: #ff6700;
color: white;
}

#formulario input[type="submit"]:hover {
background-color: limegreen;
}

@keyframes movimientosLocos {
0%, 100% {
transform: translate(0, 0);
color: #FF0000;
}
25% {
transform: translate(100px, -5px);
color: #FFFF00;
}
50% {
transform: translate(-100px, 67px);
color: #008000;
}
75% {
transform: translate(23px, -100px);
color: #4B0082;
}
}

.locas:hover {
display: inline-block;
animation: movimientosLocos 1s infinite;
}

.alerta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 21px 26px 11px rgba(3, 3, 3, 0.452);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: snow;
  width: 25%;
  border-radius: 5px;
  height: 25%;
}
#micro-alerta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: snow;
}
#micro-alerta input {
  box-sizing: border-box;
  border-width: 0 0 10px 0; 
  width: 50%;
  padding: 10px;
  border: 1px solid black;
  text-align: center;
  align-self: center;
  background-color: #ffff;
  border-radius: 5px;
}
#micro-alerta input:hover{
  cursor: pointer;
  background-color: limegreen;
}

#nosotros{
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px;
  font-weight: bold;
  cursor: no-drop;
}

#normas{
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  width: 150px;
  text-align: center;
  border: 1px solid black;
  font-weight: bold;
  color: black;
  transition: 0.5s ease;
  margin-top: 1em;
}

#normas:hover{
  background-color: rgba(210, 105, 30, 0.5);
  color: white;
}

#readme{
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  width: 150px;
  text-align: center;
  border: 1px solid black;
  font-weight: bold;
  color: black;
  transition: 0.5s ease;
  margin-top: 1em;
}

#readme:hover{
  background-color: rgba(210, 105, 30, 0.5);
  color: white;
}

.inactiva{
  display:none;
}

@media only screen and (max-width: 425px) {
h2{
  text-align: center;
}

#formValidado{
  width: 300px;
}
}