body {
    overflow: hidden;
    margin: 0;
    height: 100%;  
}

#cont-formulario {
display: flex;
flex-direction: column;
align-items: center;
background-color: #fceed6;
height: 100vh;
background-image: url(https://static.vecteezy.com/system/resources/previews/009/877/673/non_2x/pixel-art-sky-background-with-clouds-cloudy-blue-sky-for-8bit-game-on-white-background-vector.jpg);
background-position: center;
background-size: cover;
}

h1, h2 {
font-size: 50px;
}

h2 {
font-size: 50px;
padding-top: 100px;
}

p {
margin-top: 60px;
}

form {
box-shadow: 0px 21px 26px 11px rgba(3, 3, 3, 0.452);
display: flex;
align-items: center;
justify-content: center;
background-color: snow;
width: 25%;
border-radius: 5px;
height: 25%;
}

#formulario {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 30px;
background-color: snow;
}

#formulario input {
box-sizing: border-box;
width: 100%;
padding: 10px;
border: 1px solid black;
text-align: center;
align-self: center;
background-color: #ffff;
border-radius: 5px;
}

#J1:hover {
background-color: #09f;
color: white;
}

#J2:hover {
background-color: #ff6700;
color: white;
}

#formulario input[type="submit"]:hover {
background-color: limegreen;
}

@keyframes movimientosLocos {
0%, 100% {
transform: translate(0, 0);
color: #FF0000;
}
25% {
transform: translate(100px, -5px);
color: #FFFF00;
}
50% {
transform: translate(-100px, 67px);
color: #008000;
}
75% {
transform: translate(23px, -100px);
color: #4B0082;
}
}

.locas:hover {
display: inline-block;
animation: movimientosLocos 1s infinite;
}

.alerta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 21px 26px 11px rgba(3, 3, 3, 0.452);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: snow;
    width: 25%;
    border-radius: 5px;
    height: 25%;
  }
  #micro-alerta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: snow;
}
#micro-alerta input {
    box-sizing: border-box;
    border-width: 0 0 10px 0; 
    width: 50%;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    align-self: center;
    background-color: #ffff;
    border-radius: 5px;
  }
  #micro-alerta input:hover{
    background-color: limegreen;
  }
  .inactiva{
    display:none;
}